
spider2/evaluation_suite/*
spider2/release_spider2/spider2c.jsonl
spider2/evaluation_suite/gold/spider2c_eval.jsonl
spider2/evaluation_suite/gold/**/*.duckdb
spider2/delete.py
get_doc.py
get_bigquery_schema.py
.vscode/*

spider2/resource/databases/local/*.sqlite
spider2/examples/**/DB_schema/
spider2/examples/**/*.sqlite
spider2/examples/**/*.duckdb
spider2/examples/airbnb002/seeds/RAW_REVIEWS.csv

!spider2/resource/databases/local/local-map.jsonl

methods/spider-agent-air/logs/*
methods/spider-agent-air/output/*
!methods/spider-agent-air/logs/README.md
!methods/spider-agent-air/output/README.md


methods/spider-agent/logs/*
methods/spider-agent/output/*
!methods/spider-agent/logs/README.md
!methods/spider-agent/output/README.md

spider-agent/bigquery_credential.json
spider2-lite/bigquery_credential.json
spider2-lite/snowflake_credential.json
spider2/bigquery_credential.json

spider2-lite/evaluation_suite/*
spider2-lite/fix_rows.py
spider2-lite/query_local.py

spider2-lite/resource/databases/local/*.db
spider2-lite/resource/databases/local/*.sqlite

!spider2-lite/evaluation_suite/README.md
!spider2-lite/evaluation_suite/gold/
!spider2-lite/evaluation_suite/bigquery_credential.json
!spider2-lite/evaluation_suite/evaluate.py
!spider2-lite/evaluation_suite/evaluate_yx.py
!spider2-lite/evaluation_suite/evaluate_utils.py
!spider2-lite/evaluation_suite/spider2sql_eval_config_file.py
!spider2-lite/evaluation_suite/example_submission_folder/


# Do not ignore specific files and directories
!spider2/evaluation_suite/README.md
!spider2/evaluation_suite/bigquery_credential.json
!spider2/evaluation_suite/evaluate.py
!spider2/evaluation_suite/evaluate_beta.py
!spider2/evaluation_suite/gold/
!spider2/evaluation_suite/gold_temp/
!spider2/evaluation_suite/eval_utils.py
!spider2/evaluation_suite/example_submission_folder/
!spider2/evaluation_suite/credentials.zip


# Byte-compiled / optimized / DLL files
**/__pycache__/
**/launch.json

*.DS_Store
*.pyc



# Dail-SQL
spider2-lite/baselines/dailsql/third_party/
spider2-lite/baselines/dailsql/vector_cache/

spider2-lite/baselines/dailsql/preprocessed_data/*
!spider2-lite/baselines/dailsql/preprocessed_data/spider2_preprocess.py
spider2-lite/baselines/dailsql/postprocessed_data/*
!spider2-lite/baselines/dailsql/postprocessed_data/spider2_postprocess.py


# CodeS
spider2-lite/baselines/codes/sic_ckpts/
spider2-lite/baselines/codes/SimCSE/
spider2-lite/baselines/codes/preprocessed_data/*
!spider2-lite/baselines/codes/preprocessed_data/spider2_preprocess.py
spider2-lite/baselines/codes/postprocessed_data/*
!spider2-lite/baselines/codes/postprocessed_data/spider2_postprocess.py
!spider2-lite/evaluation_suite/credentials.zip


# yuxiao's tmp code
spider2-lite/baselines/yyx_tmp/

**/toy*.json
**/yyx_run.sh
**/0825*.json
**/subset*.json
**/local*.json
**/multi_db_40.json
**/yyx*.sh
**/yyx*.py
**/yyx*.json

**/subset*.json
**/run_check.sh
**/snowflake_credential.json
**/bigquery_credential.json
**/bigquery_credential*.json
**/sitecustomize.py

# local DB
spider2-lite/resource/databases/spider2-localdb


# Ignore any folder named 'credentials'
credentials/
**/credentials/

